   * {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
            html {box-sizing: border-box;}
            *, *:before, *:after {box-sizing: inherit;}
            html, body {height: 100%; margin: 0;}

            body {
            font-family: "Segoe UI", sans-serif;
            background: #36393f; color: #FFF;
            }
            h1 {margin: 0 0 10px 0; font-weight: 600; line-height: 1.2;}
            p {margin-top: 10px; color: rgba(255,255,255,0.4);}
            body {
            overflow-y: hidden;
            }

            #titlebar {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 32px;
            width: calc(100%);
            background: #292b30;
            }

            #main {
            height: calc(100% - 32px);
            margin-top: 32px;
            padding: 20px;
            overflow-y: auto;
            }
            #titlebar {
            padding: 4px;
            }
            #titlebar #drag-region {
            width: 100%;
            height: 100%;
            -webkit-app-region: drag;
            }
            #titlebar {
            color: #FFF;
            }
            #window-controls {
            display: grid;
            grid-template-columns: repeat(3, 46px);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            font-family: "Segoe MDL2 Assets";
            font-size: 10px;
            }
            #window-controls .button {
            grid-row: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            }
            #window-controls #min-button {
            grid-column: 2;
            }
            #window-controls #max-button, #window-controls #restore-button {
            grid-column: 1;
            }
            #window-controls #close-button {
            grid-column: 3;
            }
            #window-controls {
            -webkit-app-region: no-drag;
            }
            #window-controls .button {
            user-select: none;
            cursor: default;
            opacity: 0.8;
            }
            #window-controls .button:hover {
            background: rgba(255,255,255,0.2);
            opacity: 1;
            }
            #window-controls #close-button:hover {
            background: #E81123;
            }
            #window-controls #restore-button {
            display: none;
            }
            #titlebar #drag-region {
            display: grid;
            grid-template-columns: auto 138px;
            }
            #window-title {
            grid-column: 1;
            display: flex;
            align-items: center;
            font-family: "Segoe UI", sans-serif;
            font-size: 12px;
            margin-left: 8px;
            overflow-x: hidden;
            }
            #window-title span {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;
            }


            /*
                ==> Sistema de grid da aplicação <==
            */
            .janela-fluido{
                width: 100%;
                height: auto;
                margin-top: 32px;
                overflow-y: auto;
            }
            .janela-login{
                width: 100%;
                height: 100%;
            }
            .janela{
                margin-left: 25%;
                width: 50%;
                height: auto;
            }
            .linha{
                width: auto;
                height: auto;
            }

            .coluna-6{
                width: 50%;
                height: 100%;
                float: left;
            }
            .article-row{
                height: 100%;
                width: 100%;
                margin-top: 84%;
                background: linear-gradient(to bottom,transparent,  rgba(0, 0, 0, 0.5)); 
       
            }

            /* fim do sistema de grid */

            .article-row h5, .article-row p
            {
                color: #FFF;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14pt;
                text-transform: uppercase;
                line-height: 0.5;
                text-indent: 1.5em;
            }
            .article-row p{
                text-transform: none;
                text-indent: 0;
                font-size: 9pt;
                padding: 8px;
                text-indent: 1.9em;
            }

            /* formulário */
            .formulario-login{
                margin-left: 12%;
                width: auto;
                height: auto;
            }
            .formulario-login label{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12pt;
                color: #FFF;
                word-wrap: normal;
                width: 100%;
                padding-bottom: 9px;
            }

            .formulario-login input[type="email"], .formulario-login input[type="password"]{
                width: 260px;
                border-radius: 10px;
                text-indent: 1.5em;
                line-height: 2.5;
            }

            .formulario-login button{
                width: 260px;
                margin-top: 20px;
                height: 38px;
                background-color: #7289da;
                box-shadow: 1px 1px 3px #282828;
                color: #fff;
                border: none;
                cursor: pointer;
                transition:   background-color 0.5s;

            }
            .formulario-login button:hover{
                background-color: #677bc4;

            }

            /* fim do formulário */

            .logo-row{
                background-image: url('../img/logo.png');
                width: 247px;
                height: 68px;
                margin-left: 5%;

            }

            .alert-red{
                background-color: #da7272;
                border-radius: 8px;
                border: 2px solid #d75555;
                width: 276px;
                height: auto;
                padding: 3px;
                margin-left: 10%;
                margin-top: 10px;
                display: none;

            }
            .alert-red ul{
                list-style: none;
            }

            .alert-red ul li{
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
                text-indent: 1.5em;
                padding: 5px;
        
            }
            .alert-red ul li:before{
         	font-family: 'Font Awesome\ 5 Free';
	            content: '\f06a';
                color: #fff;
                font-weight: 900;
                padding-left: 5px;
               padding: 10px;
               font-size: 11pt;
            }

         